<h1><%= @list.id %></h1>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <%= bookmark.comment %>
      <%= link_to 'delete bookmark', list_bookmark_path(@list,bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    </li>
  <% end %>
</ul>

<ul>
<li><%= link_to 'Add a movie to your list', new_list_bookmark_path(@list.id) %></li>
<li><%= link_to 'get back to the main page', lists_path%></li>
</ul>
